<main>
  <div class="header-text">
    <p>Kanban Project Management Tool</p>
    <img
      id="d-none"
      class="header-icon"
      src="./assets/img/logo-small.png"
      alt="Join-logo"
    />
  </div>
  <div class="header-icons">
    <img
      class="icon"
      [ngClass]="{ hidden: fromLoginContext || loginService.hideHelpIcon }"
      src="./assets/img/07_header/help.png"
      alt="Questionmark-logo"
      (click)="goToHelp()"
    />
    <div
      class="avatar"
      [ngClass]="{
        hidden: fromLoginContext,
        show: !fromLoginContext && menuOpen
      }"
      (click)="toggleMenu()"
    >
      {{ initials }}
    </div>
    <div class="menu" [ngClass]="{ 'menu-open': menuOpen }">
      <a (click)="navigateTo('/privacy-notice')">Privacy Policy</a>
      <a (click)="navigateTo('/legal-notice')">Legal Notice</a>
      <a href="#" (click)="logout()">Log out</a>
    </div>
  </div>
</main>
