<main>
  <div id="grey-bg"></div>
  <div id="padding">
    <div id="header">
      <h1>Join 360</h1>
      <span>|</span>
      <p>Key Metrics at a Glance</p>
    </div>
    <div id="dashboard-greeting-container">
      <div id="dashboard-container">
        <div id="todo-done">
          <div
            class="border-style"
            routerLink="/board"
            (mouseenter)="onHoverEdit(true)"
            (mouseleave)="onHoverEdit(false)"
          >
            <img [src]="editIconSrc" alt="Edit Icon" />
            <div class="amount-description">
              <p>{{ this.todo.length }}</p>
              <p>To-do</p>
            </div>
          </div>

          <div
            class="border-style"
            routerLink="/board"
            (mouseenter)="onHoverDone(true)"
            (mouseleave)="onHoverDone(false)"
          >
            <img [src]="doneIconSrc" alt="Edit Icon" />
            <div class="amount-description">
              <p>{{ this.done.length }}</p>
              <p>Done</p>
            </div>
          </div>
        </div>
        <div id="deadline">
          <div class="border-style" routerLink="/board">
            <div
              id="prioContainer"
              [ngStyle]="{ 'background-color': deadlineBgColor }"
            >
              <img [src]="deadlineImgSrc" alt="Priority Icon" />
            </div>
            <div>
              <div class="amount-description">
                <p>{{ urgentTaskCount }}</p>
                <p>{{ highestPriority }}</p>
              </div>
            </div>
            <div class="amount-description">
              <p id="date-p">
                {{ nextDueDate | date: "MMMM d, y" }}
              </p>
              <p>Upcoming Deadline</p>
            </div>
          </div>
        </div>
        <div id="tasks">
          <div class="border-style" routerLink="/board">
            <div class="amount-description">
              <p>{{ this.allTasks.length }}</p>
              <p>Tasks in Board</p>
            </div>
          </div>
          <div class="border-style" routerLink="/board">
            <div class="amount-description">
              <p>{{ this.inProgress.length }}</p>
              <p>Tasks in Progress</p>
            </div>
          </div>
          <div class="border-style" routerLink="/board">
            <div class="amount-description">
              <p>{{ this.awaitFeedback.length }}</p>
              <p>Awaiting Feedback</p>
            </div>
          </div>
        </div>
      </div>
      <div id="greeting-container">
        <p>{{ greetingMessage }}</p>
        <h2>{{ displayName }}</h2>
      </div>
    </div>
  </div>
</main>
