<main>
  <div id="grey-bg"></div>
  <div id="padding">
    <div id="header">
      <h1>Join 360</h1>
      <span>|</span>
      <p>Key Metrics at a Glance</p>
    </div>
    <div id="dashboard-greeting-container">
      <div id="dashboard-container">
        <div id="todo-done">
          <div class="border-style">To-do</div>
          <div class="border-style">Done</div>
        </div>
        <div id="deadline">
          <div class="border-style">Upcoming Deadline</div>
        </div>
        <div id="tasks">
          <div class="border-style">Tasks in Board</div>
          <div class="border-style">Tasks in Progress</div>
          <div class="border-style">Awaiting Feedback</div>
        </div>
      </div>
      <div id="greeting-container">
        <!--Wenn Gast Login dann nur Good morning sonst good morning, vor und zuname von der geloggten person 
          Im Login Service muss Vor und Nachname als Variablen hinterlegt werden diese müssen auf Firebase abgelegt sein
          beim Registrieren z.B. Vorname Nachname Email Passwort -->
        <p>Good morning,</p>
        <h2>Sofia Müller</h2>
      </div>
    </div>
  </div>
</main>
