<main>
  <header>
    <div class="header-img animate-logo logo">
      <img class="dark-logo" src="/assets/img/main-logo.png" alt="Dark-logo" />
      <img class="light-logo" src="/assets/img/main-logo-white.png" alt="Lightlogo" />
    </div>
    <div class="sign-up">
      <p>Not a Join user?</p>
      <button class="dark-btn" (click)="navigateToSignup()">Sign up</button>
    </div>
  </header>

  <div class="content-wrapper">
    <section>
      <div class="log-in">
        <div class="above-input">
          <h1>Log in</h1>
          <div>
            <img src="/assets/img/blueLine.png" alt="Blue-line" />
          </div>
        </div>
        <div id="inputs">
          <div id="email-container">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              required
            /><img src="/assets/img/06_contacts/mail.png" alt="" />
          </div>
          <div id="password-container">
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Password"
              required
            /><img src="/assets/img/01_login/lock.png" alt="" />
          </div>
        </div>
        <div class="login-button">
          <button class="dark-btn">Log in</button>
          <button class="bright-btn" (click)="navigateToSummary()">
            Guest Log in
          </button>
        </div>
      </div>
    </section>

    <footer>
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Legal notice</a>
      </div>
    </footer>
  </div>
</main>
