<div class="bg-color">
  <main>
    <header>
      <div class="header-img animate-logo logo">
        <img
          class="dark-logo"
          src="./assets/img/main-logo.png"
          alt="Dark-logo"
        />
        <img
          class="light-logo"
          src="./assets/img/main-logo-white.png"
          alt="Lightlogo"
        />
      </div>
      <div class="sign-up">
        <p>Not a Join user?</p>
        <button class="dark-btn" (click)="navigateToSignup()">Sign up</button>
      </div>
    </header>

    <div class="content-wrapper">
      <section>
        <div class="log-in">
          <div class="above-input">
            <h1>Log in</h1>
            <div>
              <img src="./assets/img/blueLine.png" alt="Blue-line" />
            </div>
          </div>
          <form (ngSubmit)="onLogin()">
            <div id="inputs">
              <div id="email-container">
                <div class="input-wrapper">
                  <input
                    type="text"
                    name="email"
                    id="email"
                    placeholder="Email"
                    [(ngModel)]="email"
                    (input)="onInput('email')"
                    required
                  />
                  <img src="./assets/img/06_contacts/mail.png" alt="" />
                </div>
                <p class="error-message">{{ emailErrorMessage }}</p>
              </div>

              <div id="password-container">
                <div class="input-wrapper">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    [(ngModel)]="password"
                    (input)="onInput('password')"
                    required
                  />
                  <img src="./assets/img/01_login/lock.png" alt="" />
                </div>
                <p class="error-message">{{ passwordErrorMessage }}</p>
                <p class="error-message">{{ errorMessage }}</p>
              </div>
            </div>

            <div class="login-button">
              <button type="submit" class="dark-btn">Log in</button>
              <button class="bright-btn" (click)="handleGuestLogin()">
                Guest Log in
              </button>
            </div>
          </form>
        </div>
      </section>

      <footer>
        <div class="footer-links">
          <a (click)="navigateTo('/privacy-notice')">Privacy Policy</a>
          <a (click)="navigateTo('/legal-notice')">Legal Notice</a>
        </div>
      </footer>
    </div>
  </main>
</div>
