@use "../../styles.scss" as *;
main {
  background-color: #f6f7f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 50px 120px 20px 60px;
}

section {
  @include dF(center, center);
  flex: 1;
}

form {
  width: 65%;
  margin-bottom: -15px;
}

footer {
  padding-bottom: 3rem;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

a {
  color: rgba(168, 168, 168, 1);
}

.header-img {
  position: absolute;
  z-index: 9999;
  > img {
    height: 100px;
  }
  &.animate-logo {
    animation: logoMove 1.3s ease-in-out forwards;
  }
}

.content-wrapper {
  animation: fadeIn 1.35s ease-in-out forwards;
  opacity: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  position: absolute;
  animation: logoMove 1.3s forwards;
}

.dark-logo {
  display: block;
}

.light-logo {
  display: none;
}

.dark-btn {
  font-size: 1.4rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
}

.bright-btn {
  background-color: white;
  color: $darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
  font-family: "inter";
  font-weight: bolder;
  border: solid 2px;
  cursor: pointer;

  &:hover {
    color: $lightblue;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.login-button {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 45px;
  > .dark-btn {
    padding: 0.6rem 1.3rem;
  }
  > .bright-btn {
    padding: 0.5rem 1.3rem;
  }
}

.sign-up {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  animation: fadeIn 1.35s ease-in-out forwards;
  opacity: 0;
}

.log-in {
  @include dF(center, center);
  flex-direction: column;
  background-color: white;
  width: 650px;
  height: 450px;
  border-radius: 1.875rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.above-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.7rem;
  margin-top: -2rem;
  img {
    transform: scaleX(1.6);
  }
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  #email-container,
  #password-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .input-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: 100%;
        height: 28px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-right: -2rem;
        &::placeholder {
          color: rgba(0, 0, 0, 0.2);
        }
      }
      img {
        width: auto;
        margin-left: -10px;
      }
    }
    .error-message {
      color: red;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      padding-top: 8px;
      margin-bottom: -12px;
    }
  }
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 3rem;

  > a:hover {
    font-weight: bold;
    color: $lightblue;
  }
}

@keyframes logoMove {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
  100% {
    top: 50px;
    left: 100px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoMoveMobile {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
  }
  100% {
    // top: 50px;
    top: 25px;
    left: 25px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInMobile {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 750px) {
  main {
    animation: changeBackgroundMobile 2s ease-in-out;
  }
  .logo {
    animation: logoMoveMobile 2s forwards !important;
  }
  .content-wrapper {
    animation: fadeInMobile 2s forwards !important;
  }
  .sign-up {
    animation: fadeInMobile 2s forwards !important;
  }

  .logo {
    .dark-logo {
      display: none;
    }
    .light-logo {
      display: block;
    }
  }

  .logo:not(.animate-logo) {
    .dark-logo {
      display: block;
    }
    .light-logo {
      display: none;
    }
  }

  @keyframes changeBackgroundMobile {
    0% {
      background-color: rgba(42, 54, 71, 1);
    }
    99% {
      background-color: rgba(42, 54, 71, 1);
    }
    100% {
      background-color: #ffffff;
    }
  }

  @keyframes logoMoveMobile {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    50% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
      opacity: 1;
    }
    100% {
      top: 50px;
      left: 50px;
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeInMobile {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 750px) {
  .log-in {
    width: 550px;
    height: 450px;
    margin-top: -40px;
  }
  .sign-up {
    position: absolute;
    justify-content: center;
    bottom: 80px;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  footer {
    padding-bottom: 2rem;
  }
}

@media (max-width: 590px) {
  h1 {
    font-size: 3.5rem;
  }
  .sign-up {
    bottom: 85px;
  }
  .log-in {
    width: 460px;
    height: 430px;
  }
  .dark-btn {
    font-size: 1rem;
  }
  .bright-btn {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .login-button {
    padding-top: 45px;
  }
  .input-wrapper img {
    margin-left: 0 !important;
  }
}

@media (max-width: 490px) {
  form {
    width: auto;
  }
  .log-in {
    width: 360px;
    height: 400px;
  }
  h1 {
    font-size: 3rem;
  }
  .login-button {
    padding-top: 45px;
  }
  .sign-up {
    bottom: 90px;
  }
}

@media (max-width: 380px) {
  .log-in {
    width: 305px;
  }
}

@media (max-height: 720px) {
  #inputs {
    gap: 1rem;
  }
  .above-input {
    padding-bottom: 0.5rem;
  }
  .error-message {
    padding-top: 3px;
    padding-bottom: 5px;
  }
  .log-in {
    height: 315px;
  }
  .login-button {
    padding-top: 12px;
  }
  .sign-up {
    bottom: 80px;
  }
}

@media (max-height: 600px) {
  .header-img img {
    height: 50px;
  }
}
@media (max-height: 580px) {
  h1 {
    font-size: 2rem;
  }
  .log-in {
    height: 300px;
  }
  .sign-up {
    bottom: 60px;
  }
  .dark-btn {
    padding: 0.5rem 0.5rem;
  }
  footer {
    padding-bottom: 0.2rem;
  }
}

@media (max-height: 530px) {
  .sign-up {
    bottom: 30px;
  }
}

@media (min-height: 850px) {
  .sign-up {
    bottom: 110px;
  }
}
