<main class="pad">
  <!-- TODO (click)=komponente zum adden -->
  <button class="dark-btn">
    Add new Contact
    <img src="../../../assets/img/06_contacts/person_add.png" alt="" />
  </button>
  <div id="contactlist">
    @for (contact of contacts.contactlist; track $index) {
      <!-- TODO hier auch ein (click) einfügen um ContactOverlay anzuzeigen übergib den index damit die komponente danach im array suchen kann -->
      <div id="contact-container">
        <div id="initials" [ngStyle]="{ 'background-color': getColor($index) }">
          <p>
            {{ contact.firstname[0].toUpperCase()
            }}{{ contact.lastname[0].toUpperCase() }}
          </p>
        </div>
        <div id="name-email">
          <p>{{ contact.firstname }} {{ contact.lastname }}</p>
          <p>{{ contact.email }}</p>
        </div>
      </div>
    }
  </div>
</main>
