@use "../styles.scss" as *;

#bg-layout {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;

  #headerAndRouterOutlet {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #bg-layout {
    display: none !important;
  }
}
