@use "../styles.scss" as *;

main {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  @include contentmax();

  #headerAndRouterOutlet {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
