<main>
  <div class="content">
    <div class="logo">
      <img src=".././../../assets/img/main-logo-white.png" alt="" />
    </div>

    <div class="menu">
      <div class="link">
        <a href=""
          ><img
            src="../../../assets/img/02_menubar/summary.png"
            alt=""
          />Summary</a
        >
      </div>

      <div class="link">
        <a href=""
          ><img src="../../../assets/img/02_menubar/add-task.png" alt="" />Add
          task</a
        >
      </div>

      <div class="link special">
        <a href=""
          ><img src="../../../assets/img/02_menubar/board.png" alt="" />Board</a
        >
      </div>

      <div class="link">
        <a href=""
          ><img
            src="../../../assets/img/02_menubar/contacts.png"
            alt=""
          />Contacts</a
        >
      </div>
    </div>
    <div class="privacy-imprint">
      <a href="">Privacy notice</a>
      <a href="">Legal notice</a>
    </div>
  </div>

</main>
