<main>
  <div class="content">
    <div class="logo">
      <img src=".././../../assets/img/main-logo-white.png" alt="" />
    </div>

    <div class="menu">
      <div class="link">
        <a routerLink="/summary"
        [class.active]="activeTab === 'summary'"
        (click)="setActiveTab('summary')"
        ><img
            src="../../../assets/img/02_menubar/summary.png"
            alt=""
          />Summary</a
        >
      </div>

      <div class="link">
        <a routerLink="/tasks"
        [class.active]="activeTab === 'tasks'"
        (click)="setActiveTab('tasks')"
          ><img src="../../../assets/img/02_menubar/add-task.png" alt="" />Add
          task</a
        >
      </div>

      <div class="link">
        <a routerLink="/board"
        [class.active]="activeTab === 'board'"
        (click)="setActiveTab('board')"
        class="special"
          ><img src="../../../assets/img/02_menubar/board.png" alt="" /><p>Board</p></a
        >
      </div>

      <div class="link">
        <a routerLink="/contacts"
        [class.active]="activeTab === 'contacts'"
        (click)="setActiveTab('contacts')"
          ><img
            src="../../../assets/img/02_menubar/contacts.png"
            alt=""
          />Contacts</a
        >
      </div>
    </div>
    <div class="privacy-imprint">
      <a routerLink="/privacy-notice">Privacy notice</a>
      <a routerLink="/legal-notice">Legal notice</a>
    </div>
  </div>
</main>
