@use "../../../styles.scss" as *;
#bg-layout {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transition: none !important;
}
main {
  width: 100%;
  max-width: 1000px;
  min-width: 1000px;
  border-radius: 2rem;
  border-top-left-radius: 2rem;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  #left-side {
    background-color: $darkblue;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    img {
      width: 100px;
      height: auto;
      margin: 0 0 2rem 0;
      padding: 0;
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: 0;
      font-size: 4rem;
      color: white;
    }
  }

  #right-side {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
    #right-side-left {
      border: 2px solid white;
      box-shadow: 0px 0px 2px black;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      #initials {
        height: 6rem !important;
        width: 6rem !important;
        font-size: 3rem !important;
      }
    }
    #right-side-right {
      display: flex;
      justify-content: start;
      flex-direction: column;
      gap: 2rem;
      flex: 3;
      height: 100%;
      a {
        align-self: end;
        color: $darkblue;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          text-decoration: none;
        }
      }

      #inputs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        #firstname-container,
        #lastname-container,
        #email-container,
        #phonenumber-container {
          display: flex;
          justify-content: start;
          align-items: center;
          input {
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            margin-right: -2rem;
            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }
          }
          img {
            height: 75%;
            width: auto;
          }
        }
      }

      #btn-section {
        display: flex;
        justify-content: start;
        gap: 1rem;
        button {
          border: none;
          border-radius: 1rem;
          padding: 0.75rem 1.5rem;
          font-size: 1.5rem;
          cursor: pointer;
          transition:
            background-color 0.3s ease,
            box-shadow 0.3s ease;
        }
        #delete {
          color: $darkblue;
          background-color: transparent;
          border: 1px solid $darkblue;
          &:hover {
            border: 1px solid $lightblue;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
        #save {
          color: white;
          background-color: $darkblue;
          &:hover {
            background-color: $lightblue;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  main {
    width: 700px;
    min-width: unset;
    #left-side {
      width: 250px;
    }

    #right-side {
      flex: 1;
      flex-direction: column;
      position: relative;
      padding: 1rem;
      gap: 0;

      #right-side-right {
        a {
          position: absolute;
          top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  main {
    height: 100vh;
    min-width: 100vw;
    width: 100%;
    flex-direction: column;
    z-index: 2000 !important;
  }
  #left-side {
    background-color: $darkblue;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
    padding: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    img {
      width: 60px !important;
      height: auto;
      margin-top: 2rem !important;
      padding: 0;
    }
    h2 {
      font-size: 2rem !important;
      margin: 0;
      line-height: 0;
    }
  }

  #right-side {
    max-height: 50%;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
  }

  #right-side-left {
    margin-top: -7rem;
  }

  #right-side-right {
    flex: 1;
    a {
      position: absolute;
      top: 0 !important;
    }

    #inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 80vw !important;
    }
    #firstname-container,
    #lastname-container,
    #email-container,
    #phonenumber-container {
      input {
        width: 80vw !important;
        padding: 0.5rem 0.8rem;
      }
    }
  }

  h1 {
    font-size: 5rem;
  }

  #btn-section {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 100%;
    button {
      padding: 0.5rem !important;
    }
  }
}

@media (max-width: 600px) {
  main {
    width: 90vw !important;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translate(-50%, -50%) translateX(100vw);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.slide-in {
  animation: slideInFromRight 0.3s ease-out forwards;
}
