<main>
  <div id="contact-overview-header" class="pad">
    <h2>Contacts</h2>
    <span>|</span>
    <span>Better with a team</span>
  </div>
  <div id="contact-overview-body" class="pad">
    <!-- TODO hier kommt die Component rein die das Vorschaubild anzeigt vom Kontakt der angeklickt wurde -->
    @if (selectedContact) {
      <div id="contact-details">
        <div id="initials" style="background-color: red">
          <p>
            {{ selectedContact.firstname[0].toUpperCase()
            }}{{ selectedContact.lastname[0].toUpperCase() }}
          </p>
        </div>
        <h3>{{ selectedContact.firstname }} {{ selectedContact.lastname }}</h3>
        <p><strong>Email:</strong> {{ selectedContact.email }}</p>
        <p><strong>Phone:</strong> {{ selectedContact.phonenumber }}</p>
      </div>
    } @else {
      <div>
        <p>Please select a contact to view details.</p>
      </div>
    }
  </div>
</main>
