@use "../../../styles.scss" as *;
main {
  height: 100%;
  background-color: $grey;

  #contact-overview-header {
    padding-top: 6rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h2 {
      font-size: 4rem;
      margin: 0;
      line-height: 0;
    }

    span {
      display: flex;
      padding-top: 0.5rem;
      align-items: center;
    }

    span:nth-of-type(1) {
      color: $lightblue;
      font-size: 3rem;
    }

    span:nth-of-type(2) {
      color: $darkblue;
      font-size: 2rem;
    }
  }
}
