<main>
  <div id="contact-overview-header" class="pad">
    <h2>Contacts</h2>
    <span>|</span>
    <span>Better with a team</span>
  </div>
  <div id="contact-overview-body" class="pad">
    <!-- TODO hier kommt die Component rein die das Vorschaubild anzeigt vom Kontakt der angeklickt wurde -->
    <!-- <div class="under-contacts">
      <div class="contact-left">
        <div class="avatar">DM</div>
      </div>
      <div class="contact-right">
        <h3>Dummy Name</h3>
        <div class="edit-delete">
          <a class="center-line" href="#"
            ><img
              src="./assets/img/06_contacts/edit.png"
              alt="Edit-icon"
            />Edit</a
          >
          <a class="center-line" href="#"
            ><img
              src="./assets/img/06_contacts/delete.png"
              alt="Delete-icon"
            />Delete</a
          >
        </div>
      </div>
    </div>
    <div class="contact-info">
      <span>Contact Information</span>
      <p>Email</p>
      <span>dummy&#64;gmail.com</span>
      <p>Phone</p>
      <span>+49 2211200312</span>
    </div> -->
  </div>
</main>
