<main>
  <h1>Imprint</h1>
  <p>
    Osahon Schmolze<br />
    Klumpenstraße 72<br />
    41066 Mönchengladbach
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: <a href="tel:+49017685871002">+49 (0) 176 858 710 02</a><br />
    E-Mail:
    <a href="mailto:info@developerdemir.com">osahonschmolze222&#64;gmail.com</a>
  </p>

  <p>
    Quelle:
    <a href="https://www.e-recht24.de/impressum-generator.html" target="_blank"
      >https://www.e-recht24.de/impressum-generator.html</a
    >
  </p>
</main>
