<main>
  <header>
    <div class="header-img">
      <img src="/assets/img/main-logo.png" alt="Main-logo" />
    </div>
  </header>

  <section>
    <div class="sign-up">
      <div class="above-input">
        <div class="back-arrow">
          <img
            (click)="navigateToLogin()"
            src="assets/img/01_login/arrow-left-line.png"
            alt="Arrow-left"
          />
        </div>
        <div class="above-input-right">
          <h1>Sign up</h1>
          <img src="/assets/img/blueLine.png" alt="Blue-line" />
        </div>
      </div>
      <div id="inputs">
        <div id="email-container">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            [(ngModel)]="name"
            required
          /><img src="/assets/img/01_login/person.png" alt="" />
        </div>
        <div id="email-container">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            [(ngModel)]="email"
            required
          /><img src="/assets/img/06_contacts/mail.png" alt="" />
          <!-- Fehlermeldung für E-Mail -->
          <div *ngIf="emailErrorMessage" class="error-message">
            {{ emailErrorMessage }}
          </div>
        </div>
        <div id="password-container">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            required
          /><img src="/assets/img/01_login/lock.png" alt="" />
          <!-- Fehlermeldung für Passwort -->
          <div *ngIf="passwordErrorMessage" class="error-message">
            {{ passwordErrorMessage }}
          </div>
        </div>
        <div id="password-container">
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            required
          /><img src="/assets/img/01_login/lock.png" alt="" />
          <!-- Fehlermeldung für Passwort bestätigen -->
          <div *ngIf="confirmPasswordErrorMessage" class="error-message">
            {{ confirmPasswordErrorMessage }}
          </div>
        </div>
        <div class="privacy-class">
          <label class="checkbox-container">
            <input type="checkbox" id="privacy-checkbox" (change)="onCheckboxChange($event)" />
            <span class="checkmark"></span>
          </label>
          <p>I accept the <a href="#">Privacy policy</a></p>
        </div>
        <div class="signup-button">
          <button class="dark-btn" [disabled]="!isPrivacyAccepted" (click)="onSignUp()">Sign up</button>
        </div>
        <!-- Allgemeine Fehlermeldung -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-links">
      <a href="#">Privacy Policy</a>
      <a href="#">Legal notice</a>
    </div>
  </footer>
</main>