<div class="bg-color">
<main>
  <header>
    <div class="header-img">
      <img src="/assets/img/main-logo.png" alt="Main-logo" />
    </div>
  </header>

  <section>
    <div *ngIf="showSuccessMessage" class="success-message">
      Registration was successful! You will be redirected to the login page shortly.
    </div>
    <div class="sign-up" *ngIf="!showSuccessMessage">
      <div class="above-input">
        <div class="back-arrow">
          <img
            (click)="navigateToLogin()"
            src="assets/img/01_login/arrow-left-line.png"
            alt="Arrow-left"
          />
        </div>
        <div class="above-input-right">
          <h1>Sign up</h1>
          <img src="/assets/img/blueLine.png" alt="Blue-line" />
        </div>
      </div>
      <div id="inputs">
        <div id="name-container">
          <div class="input-wrapper">
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Name"
              [(ngModel)]="displayName"
              (input)="onInputTouched('name')"
              required
            /><img src="/assets/img/01_login/person.png" alt="" />
          </div>
          <p class="error-message">{{ nameErrorMessage }}</p>
        </div>
        <div id="email-container">
          <div class="input-wrapper">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              [(ngModel)]="email"
              (input)="onInputTouched('email')"
              required
            /><img src="/assets/img/06_contacts/mail.png" alt="" />
          </div>
          <p class="error-message">{{ emailErrorMessage }}</p>
        </div>
        <div id="password-container">
          <div class="input-wrapper">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              [(ngModel)]="password"
              (input)="onInputTouched('password')"
              required
            /><img src="/assets/img/01_login/lock.png" alt="" />
          </div>
          <p class="error-message">{{ passwordErrorMessage }}</p>
        </div>
        <div id="passwordconfirm-container">
          <div class="input-wrapper">
            <input
              type="password"
              name="confirm-password"
              id="confirm-password"
              placeholder="Confirm Password"
              [(ngModel)]="confirmPassword"
              (input)="onInputTouched('confirm-password')"
              required
            /><img src="/assets/img/01_login/lock.png" alt="" />
          </div>
          <p class="error-message">{{ confirmPasswordErrorMessage }}</p>
        </div>
        <div class="privacy-class">
          <label class="checkbox-container">
            <input
              type="checkbox"
              id="privacy-checkbox"
              (change)="onCheckboxChange($event)"
            />
            <span class="checkmark"></span>
          </label>
          <p>I accept the <a href="#">Privacy policy</a></p>
        </div>
        <div class="signup-button">
          <button
            class="dark-btn"
            [disabled]="!isFormValid()"
            (click)="onSignUp()"
          >
            Sign up
          </button>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-links">
      <a (click)="navigateTo('/privacy-notice')">Privacy Policy</a>
      <a (click)="navigateTo('/legal-notice')">Legal Notice</a>
    </div>
  </footer>
</main>
</div>