<main>
  <div class="header">
    <div class="headline">
      <h2>Board</h2>
    </div>

    <div class="searchbar">
      <div class="searchfield">
        <input type="search" placeholder="Search task..." />
        <img src="../../assets/img/05_board/search.png" alt="search-icon" />
      </div>

      <button class="dark-btn">Add task +</button>
    </div>
  </div>

  <div class="taskboard">
    <div class="list-item">
      <div class="headline">
        <h3>To do</h3>
        <img src="../../assets/img/05_board/plus button.png" alt="" />
      </div>
      <div class="tasks"></div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>In progress</h3>
        <img src="../../assets/img/05_board/plus button.png" alt="" />
      </div>
      <div class="tasks"></div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>Await feedback</h3>
        <img src="../../assets/img/05_board/plus button.png" alt="" />
      </div>
      <div class="tasks"></div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>Done</h3>
        <img src="../../assets/img/05_board/plus button.png" alt="" />
      </div>
      <div class="tasks"></div>
    </div>
  </div>
</main>
