@use "../../styles.scss" as *;

main {
  height: 100vh;
  background-color: $grey;
  overflow-y: auto;
  text-wrap: wrap;
}

.overlay-background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Zentriert
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: slideInFromRight 0.3s ease-out forwards;
}

.plus-button {
  cursor: pointer;
}

h2 {
  font-size: 56px;
}

.header {
  @include dF(space-between, center);
  @include pad();
  height: 15vh;
}

.searchfield {
  @include dF();
  background-color: white;
  border-radius: 10px;
  border: 1.5px solid $darkgrey;
  input {
    width: 200px;
    border: none;
    padding: 4px 6px;
    outline: none;

    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}

.searchbar {
  @include dF();
  gap: 12px;
}

.taskboard {
  height: 1000px;
  @include dF(space-evenly, flex-start);
  @include pad();
  gap: 25px;
  text-wrap: wrap;
}

.list-item {
  width: 30%;
  text-wrap: wrap;
}

.headline {
  @include dF(space-between, center);
}

.task {
  background-color: white;
  gap: 12px;
  height: auto;
  margin-bottom: 12px;
  border-radius: 20px;
  padding: 25px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-wrap: wrap;
  cursor: pointer;
}

.contact {
  @include dF(space-between, center);
  img {
    margin-top: 24px;
    margin-bottom: -24px;
    width: 40px;
    height: 40px;
  }
}

.prio-img {
  width: 14px !important;
  height: 14px !important;
}

.darkblue {
  background-color: rgb(0 56 255);
  border-radius: 20px;
  padding: 6px 4px;
  width: 60%;
  color: white;
  text-align: center;
}

.blue {
  background-color: rgb(33 202 181);
  border-radius: 20px;
  padding: 6px 4px;
  width: 60%;
  color: white;
  text-align: center;
}

.task-title {
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 12px;
}

.no-tasks {
  text-align: center;
  padding: 20px;
  background-color: rgba(211, 211, 211, 0.5);
  color: #b1b2b4;
  border-radius: 20px;
  border: 2px dotted rgba(156, 156, 156, 0.5);
}

.drop-area {
  height: 100vh;
  overflow-y: auto;
}

.progress {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0;
}

.progress-bar-container {
  width: 100px;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.initial-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.progress-text {
  font-size: 12px;
  color: #666;
}

.task-details {
  text-wrap: wrap;
  h2 {
    margin-top: 0;
    font-size: 24px;
    input {
      width: 100%;
      padding: 5px;
      font-size: 24px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
  p {
    margin: 10px 0;
    textarea {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      min-height: 60px;
    }
  }
  .initial-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    color: white;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 5px 0;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  button:hover {
    background-color: #0056b3;
  }
}

.hidden {
  display: none;
}

@media (max-width: 1300px) {
  .taskboard {
    gap: 16px;
    padding: 0 40px !important;
  }

  .task {
    background-color: white;
    gap: 12px;
    height: auto;
    margin-bottom: 12px;
    border-radius: 20px;
    padding: 20px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .taskboard {
    flex-direction: column;
    height: auto;
    margin-bottom: 160px;
  }

  .drop-area {
    height: 50%;
    overflow-y: auto;
  }

  .list-item {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .taskboard {
    flex-direction: column;
    height: auto;
    margin-bottom: 200px;
  }
  .list-item {
    width: 40%;
  }

  .header {
    flex-direction: column;
    align-items: start;
  }

  .dark-btn span {
    display: none; /* Versteckt den Text "Add task" */
  }
}

@media (max-width: 600px) {
  .list-item {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .list-item {
    width: 100%;
  }

  .searchfield {
    @include dF();
    background-color: white;
    border-radius: 10px;
    border: 1.5px solid $darkgrey;
    input {
      width: 160px;
      border: none;
      padding: 4px 6px;
      outline: none;

      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
