<main>
  <div class="header">
    <div class="headline">
      <h2>Board</h2>
    </div>
    <div class="searchbar">
      <div class="searchfield">
        <input type="search" placeholder="Search task..." />
        <img src="../../assets/img/05_board/search.png" alt="search-icon" />
      </div>
      <button class="dark-btn">Add task +</button>
    </div>
  </div>

  <div class="taskboard">
    <div class="list-item">
      <div class="headline">
        <h3>To do</h3>
        <img
          src="../../assets/img/05_board/plus button.png"
          alt="plus-button"
        />
      </div>
      <div class="tasks">
        <div
          id="todo"
          cdkDropList
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="['in-progress', 'await-feedback', 'done']"
          class="drop-area"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of todo; track task.id) {
          <div class="task" cdkDrag>
            <div><p>{{task.category}}</p></div>
            <div class="description">
              <p class="task-title">{{ task.title }}</p>
              <p>{{ task.description }}</p>
            </div>
            <div class="progress"></div>
            <div class="contact">
              <img
                src="../../assets/img/06_contacts/default-img.png"
                alt="contact-list"
              />
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>In progress</h3>
        <img
          src="../../assets/img/05_board/plus button.png"
          alt="plus-button"
        />
      </div>
      <div class="tasks">
        <div
          id="in-progress"
          cdkDropList
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="['todo', 'await-feedback', 'done']"
          class="drop-area"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of inProgress; track task.id) {
          <div class="task" cdkDrag>
            <div>User Story</div>
            <div class="description">
              <p class="task-title">{{ task.title }}</p>
              <p>{{ task.description }}</p>
            </div>
            <div class="progress"></div>
            <div class="contact">
              <img
                src="../../assets/img/06_contacts/default-img.png"
                alt="contact-list"
              />
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>Await feedback</h3>
        <img
          src="../../assets/img/05_board/plus button.png"
          alt="plus-button"
        />
      </div>
      <div class="tasks">
        <div
          id="await-feedback"
          cdkDropList
          [cdkDropListData]="awaitFeedback"
          [cdkDropListConnectedTo]="['todo', 'in-progress', 'done']"
          class="drop-area"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of awaitFeedback; track task.id) {
          <div class="task" cdkDrag>
            <div>User Story</div>
            <div class="description">
              <p class="task-title">{{ task.title }}</p>
              <p>{{ task.description }}</p>
            </div>
            <div class="progress"></div>
            <div class="contact">
              <img
                src="../../assets/img/06_contacts/default-img.png"
                alt="contact-list"
              />
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="list-item">
      <div class="headline">
        <h3>Done</h3>
        <img
          src="../../assets/img/05_board/plus button.png"
          alt="plus-button"
        />
      </div>
      <div class="tasks">
        <div
          id="done"
          cdkDropList
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="['todo', 'in-progress', 'await-feedback']"
          class="drop-area"
          (cdkDropListDropped)="drop($event)"
        >
          @for (task of done; track task.id) {
          <div class="task" cdkDrag>
            <div>User Story</div>
            <div class="description">
              <p class="task-title">{{ task.title }}</p>
              <p>{{ task.description }}</p>
            </div>
            <div class="progress"></div>
            <div class="contact">
              <img
                src="../../assets/img/06_contacts/default-img.png"
                alt="contact-list"
              />
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>
