@use "../../../styles.scss" as *;

.overlay {
  border-radius: 20px;
  width: 100%;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-height: 80vh;
  height: 70vh;
  overflow-y: auto;
}

.task-detail {
  width: 100%;
  @include dF(center, center);
  flex-direction: column;
}

.initial-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  margin-right: 12px;
  color: white;
  font-weight: bold;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  margin: 5px 0;
}

.darkblue {
  background-color: rgb(0 56 255);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.blue {
  background-color: rgb(33 202 181);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  text-align: center;
}

.category {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.task-title {
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 12px;
}
