@use "../../../styles.scss" as *;

span {
  color: red;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dropdown {
  width: 100%;
  input {
    width: 100%;
  }
}

.dnone {
  display: none;
}

.dblock {
  display: block;
  font-size: 0.7em;
}

.add-task-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1001;

  &.active {
    display: flex;
  }

  .add-task-content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;

    #newTaskAdded-container {
      position: absolute;
      z-index: 9999;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 100%); // Startposition: Unten
      background-color: $darkblue;
      color: white;
      font-size: 2em;
      font-family: "inter", sans-serif;
      text-align: center;
      padding: 1em;
      border-radius: 0.5em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      opacity: 0; // Standardmäßig unsichtbar
      animation: slideIn 0.5s ease-out forwards;

      &.fadeOut {
        animation: fadeOut 0.5s ease-in forwards;
      }
    }

    @keyframes slideIn {
      from {
        transform: translate(-50%, 100%); // Startposition: Unten
        opacity: 0;
      }
      to {
        transform: translate(-50%, -50%); // Endposition: Mitte
        opacity: 1;
      }
    }

    @keyframes fadeOut {
      from {
        transform: translate(-50%, -50%); // Startposition: Mitte
        opacity: 1;
      }
      to {
        transform: translate(-50%, 100%); // Endposition: Unten
        opacity: 0;
      }
    }

    h2 {
      font-size: 3.5em;
      margin: 0;
      margin-bottom: 1em;
    }

    input {
      font-size: 1em;
      padding: 0.75em;
      border-radius: 0.5em;
      border: 1px solid $darkgrey;
      box-sizing: border-box;
    }

    #all-fields {
      display: flex;
      justify-content: space-between;

      #left-field {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 45%;

        #input-description {
          max-height: 10em;
          resize: vertical;
          height: 5em;
          min-height: 2em;
          font-size: 1em;
          font-family: "inter";
          padding: 0.75em;
          border-radius: 0.5em;
          border: 1px solid $darkgrey;
        }
        .label-input-container {
          .dropdown {
            #input-arrow-container {
              display: flex;
              flex-direction: row;
              align-items: center;
              position: relative;
              #input-search {
              }
              img {
                width: 0.5em;
                aspect-ratio: 1/1;
                height: auto;
                position: absolute;
                right: 2%;
                top: 25%;
                transition: background-color 0.3s ease;
                border-radius: 50%;
                padding: 0.5em;
                box-sizing: content-box;

                &:hover {
                  background-color: $darkgrey;
                }
              }
            }

            #contactlist {
              height: 200px;
              overflow-y: auto;
              overflow-x: hidden;
              display: flex;
              flex-direction: column;
              background-color: white;
              border-radius: 0.5em;
              display: none;
              &::-webkit-scrollbar {
                width: 8px;
              }

              &::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 4px;
              }

              &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 4px;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: #555;
              }

              .contact {
                box-sizing: border-box;
                width: 99%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5em;

                &:hover {
                  background-color: $grey;
                  border-radius: 1em;
                }
              }
            }
          }
        }
        #contact-initials {
          display: flex;
          margin-top: 1em;
          gap: 0.3em;
        }
      }
    }

    #middle-field {
      width: 1px;
      height: auto;
      background-color: $darkgrey;
    }

    #right-field {
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      #date {
        .custom-date-input {
          position: relative;
          width: 100%;
        }

        .custom-date-input input[type="date"] {
          width: 100%;
          padding: 0.75em;
          border-radius: 0.5em;
          border: 1px solid $darkgrey;
          font-size: 1em;
          appearance: none; /* Entfernt die Standard-Datumsauswahl */
        }

        .custom-date-input .placeholder {
          position: absolute;
          top: 50%;
          left: 0.75em;
          transform: translateY(-50%);
          pointer-events: none;
          color: #999;
          font-size: 1em;
          transition: opacity 0.2s ease;
        }

        .custom-date-input
          input[type="date"]:not(:placeholder-shown)
          + .placeholder,
        .custom-date-input input[type="date"]:focus + .placeholder {
          opacity: 0;
        }
      }

      #prio-btn {
        display: flex;
        gap: 0.5em;
        button {
          padding: 0.5em;
          font-size: 1.2em;
          text-align: center;
          border: 1px solid $darkgrey;
          border-radius: 0.5em;
          background-color: white;

          &:hover {
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
          }
        }
      }

      #category {
        padding: 0.5em;
        font-family: "inter";
        font-size: 1em;
        border-radius: 1em;
        border: 1px solid $darkgrey;
      }

      #label-subtask-container {
        width: 100%;
        #input-subtask-container {
          display: flex;
          align-items: center;
          position: relative;

          #subtasks-btn-container {
            display: flex;
            position: absolute;
            right: 0.3em;
            img {
              cursor: pointer;
              transition: background-color 0.3s ease;
              border-radius: 50%;
              padding: 0.2em;
              box-sizing: content-box;

              &:hover {
                background-color: $darkgrey;
              }
            }
            div {
              background-color: $darkgrey;
              width: 1px;
              height: auto;
            }
          }

          #input-subtask {
            width: 100%;
            padding-right: 3em;
          }
          #img-subtask {
            position: absolute;
            cursor: pointer;
            height: auto;
            position: absolute;
            right: 1%;
            top: 15%;
            transition: background-color 0.3s ease;
            border-radius: 50%;
            padding: 0.2em;
            box-sizing: content-box;

            &:hover {
              background-color: $darkgrey;
            }
          }
        }
        #subtasks {
          max-height: 150px;
          max-width: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          word-wrap: break-word;

          &::-webkit-scrollbar {
            width: 8px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 4px;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
        }

        #subtask {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.25em 0;
          margin-right: 1em;
          word-wrap: break-word;
          width: 100%;
          height: 1.2em;

          #index-subtask {
            display: flex;
            flex-grow: 1;
            max-width: 100%;
            gap: 0.5em;
            p {
              margin: 0;
            }
            p:nth-child(2) {
              flex-grow: 1;
              word-break: break-word;
            }
            input {
              flex-grow: 1;
              border: 1px solid $darkgrey;
              border-radius: 0.5em;
              height: 0.5em;
              font-family: "inter";
              &:focus {
                outline: none;
                border-color: $darkblue;
              }
            }
          }
          #subtask-actions {
            display: none;
            gap: 0.5em;
            img {
              cursor: pointer;
              transition: background-color 0.3s ease;
              border-radius: 50%;
              padding: 0.2em;
              box-sizing: content-box;
              height: 1em;

              &:hover {
                background-color: $darkgrey;
              }
            }
          }
          button {
            flex-shrink: 0;
            border: none;
            border-radius: 0.25em;
            background-color: transparent;
            color: transparent;
            font-size: 1em;
            font-weight: 700;
            cursor: pointer;
          }
          &:hover #subtask-actions {
            display: flex; // Beim Hover anzeigen
          }
        }
      }
    }
  }
  #infotext-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 2em;
    #btn-container {
      display: flex;
      gap: 1em;
      button {
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
        cursor: pointer;
        font-size: 1em;

        &:first-child {
          background-color: transparent;
          color: $darkblue;
          border: 1px solid $darkblue;
          border-radius: 0.5em;
        }

        &:last-child {
          background-color: $darkblue;
          color: white;
        }
      }
    }
  }

  @media (max-width: 700px) {
    /* Scrollbar für Webkit-Browser ausblenden */
    ::-webkit-scrollbar {
      width: 0; /* Breite der Scrollbar auf 0 setzen */
      height: 0; /* Höhe der Scrollbar auf 0 setzen */
      background: transparent; /* Hintergrund transparent machen */
    }

    /* Optional: Scrollbar-Track (Hintergrund) ausblenden */
    ::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Optional: Scrollbar-Thumb (der bewegliche Teil) ausblenden */
    ::-webkit-scrollbar-thumb {
      background: transparent;
    }
    .add-task-overlay {
      main {
        overflow-y: auto !important; /* Seite scrollbar machen */
        height: calc(
          100vh - 150px
        ) !important; /* Mindesthöhe auf 100% der Viewport-Höhe setzen */

        #padding {
          padding: 1em !important;
          h2 {
            font-size: 2em !important;
            margin: 0 !important;
          }
          #all-fields {
            display: flex;
            flex-direction: column;

            #left-field {
              width: 100% !important;
            }
            #right-field {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .add-task-overlay {
      main {
        font-size: 13px;
      }
      #subtasks {
        max-height: 120px !important;
      }
    }
  }

  @media (max-height: 700px) {
    .add-task-overlay {
      main {
        #padding {
          padding: 1em !important;
          h2 {
            font-size: 2em !important;
            margin: 0 !important;
          }
        }
      }
    }
  }
}
