// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$join-primary: mat.define-palette(mat.$indigo-palette);
$join-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$join-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$join-theme: mat.define-light-theme(
  (
    color: (
      primary: $join-primary,
      accent: $join-accent,
      warn: $join-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($join-theme);

//use this for import of global scss: @use "../styles.scss" as *;

//Color Variables
$darkblue: rgba(43, 54, 70, 1);
$lightblue: rgb(42, 170, 226);
$blue: rgb(0, 124, 238);
$red: rgb(255, 61, 0);
$orange: rgb(254, 168, 0);
$grey: #f6f7f8;
$darkgrey: #eeeeee;

//mixin for content-limit
@mixin contentmax() {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

//mixin fpr display Flex -- default center, center
@mixin dF($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

//mixin for unified padding
@mixin pad() {
  padding-left: 50px;
  padding-right: 50px;
}

a {
  text-decoration: none;
}

.pad {
  padding: 0 50px;
}

.dark-btn {
  background-color: $darkblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-family: "inter";
  border-radius: 1rem;
  padding: 0.5em 1rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $lightblue;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
}

#initials {
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  aspect-ratio: 1/1;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 16px;
  color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;

  p {
    margin: 0;
    padding: 0;
  }
}

//space for fonts
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/inter-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../src/assets/fonts/inter-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../src/assets/fonts/inter-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

//extra, if needed

/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../src/assets/fonts/inter-v18-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@media (max-width: 1050px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
    margin: 0;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
